$ColorBlue: #0f52ba;
$ColorBlack: #373737;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
body {
  background-color: #f9f9f9;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: $ColorBlue;
  padding:10px 66px;
}
.logo {
  display: flex;
  gap: 10px;
  
  color: #fff;
}
.sistemlogo {
  font-weight: 300;
  font-size: 20px;
  display: block;
  margin-top: 19px;
}
.mks {
  font-size: 40px;
  font-weight: 600;
}











